<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include('../partials/css') %>
        <title>Node Js Login</title>
</head>

<body>
    <%- include('../partials/navbar', {active: "login" }) %>

        <section class="vh-100">
            <div class="container-fluid h-custom">
                <div class="row d-flex justify-content-center align-items-center h-100">
                    <div class="col-md-9 col-lg-6 col-xl-5">
                        <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/draw2.webp"
                            class="img-fluid" alt="Sample image">
                    </div>
                    <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">

                        <div class="d-flex flex-row align-items-center justify-content-center justify-content-lg-start">
                            <h2 class="mb-1 me-3">Login Here</h2>
                        </div>


                        <form method="post" action="/login" enctype="multipart/form-data">
                            <% if (show) { %>

                                <% if (status=='200' ) { %>
                                    <div class="alert alert-success alert-dismissible fade show" id="S_200"
                                        role="alert">
                                        <strong>Status <%= status %></strong>
                                        <%= message %>
                                            <a href="/login" style="text-decoration: none;" class="close">
                                                <span aria-hidden="true">&times;</span>
                                            </a>
                                    </div>
                                    <% } else { %>
                                        <div class="alert alert-danger alert-dismissible fade show" id="E_400"
                                            role="alert">
                                            <strong>Status <%= status %></strong>
                                            <%= message %>
                                                <a href="/login" style="text-decoration: none;" class="close">
                                                    <span aria-hidden=" true">&times;</span>
                                                </a>
                                        </div>
                                        <% } %>

                                            <% } %>


                                                <div class="form-group">
                                                    <label for="email_id">Email address</label>
                                                    <input type="email" class="form-control" id="email_id"
                                                        name="email_id" aria-describedby="email_id"
                                                        placeholder="Enter email" required="required">
                                                </div>
                                                <div class="form-group">
                                                    <label for="exampleInputPassword1">Password</label>
                                                    <input type="password" class="form-control" name="password"
                                                        id="password" placeholder="Password" required="required">
                                                </div>

                                                <button type="submit" class="btn btn-primary"
                                                    style="width: -webkit-fill-available;">Login</button>
                        </form>
                        <div class="divider d-flex align-items-center my-2">
                            <p class="text-center fw-bold mx-3 mb-0">Or</p>
                        </div>
                        <div
                            class="d-flex flex-row align-items-center justify-content-center justify-content-lg-start my-2">
                            <button type="button" class="btn btn-primary  btn-block">
                                <i class="fab fa-facebook-f"></i> Facebook
                            </button>
                        </div>
                        <div
                            class="d-flex flex-row align-items-center justify-content-center justify-content-lg-start my-2">
                            <button type="button" class="btn btn-danger btn-block">
                                <i class="fab fa-google"></i> Google
                            </button>
                        </div>


                    </div>
                </div>
            </div>

        </section>
        <%- include('../partials/footer') %>

</body>

</html>